{% extends 'baseapp/base.html' %}{% load static %}
{% block content %}

    <!-- banner-section-start -->
    <section class="pad-0">
        <div class="landing-banner-section home-banner  content-display">
            <div class="container banner-content">
                <h1 class="title"><small>ytock</small></h1>
                <h2 class="banner-header mb-2 text-light">Boost Your Restaurant Sales With Our
                    Online <br> Food Ordering System.</h2>
                <p>Grow your restaurant business with our online food ordering system meeting your demands in a single
                    platform.</p>
                <button class="btn btn-primary my-3">Start Free Trial</button>
                <div class="point-widget py-2">
                    <div class="row justify-content-center">
                        <li class="col-auto">No credit card required</li>
                        <li class="col-auto">Free for 14 days</li>
                        <li class="col-auto">Easy setup</li>
                    </div>
                </div>
            </div><!-- /container -->
        </div>
    </section>
    <!-- banner-section-end -->

    <!-- Top-section-start -->
    <section class="pt-60 text-center">
        <h3>
            Admin Panel
        </h3>
        <p>Admin can access the total no of customers, orders placed, orders delivered, customer contact details, and

            delivery staff members. Now you can determine a <br>complete statistics report of your restaurant
            performance.
        </p>
    </section>
    <!-- Top-section-end -->

    <!-- Toggle-section-start  -->
    <section>
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <h3 class="mb-3">Customize Settings</h3>
                    <div class="nav flex-column nav-pills admin-tab" id="tab" role="tablist"
                        aria-orientation="vertical">
                        <div class="nav-link active mb-3" id="home-tab" data-bs-toggle="pill" data-bs-target="#home"
                            type="button" role="tab" aria-controls="    " aria-selected="true">
                            <div class="btn-tab">
                                <h4 class="lead">Loyalty Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">SMS Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="messages-tab" data-bs-toggle="pill" data-bs-target="#messages"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">Payment Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="settings-tab" data-bs-toggle="pill" data-bs-target="#settings"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">Social Media Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 order-2">
                    <div class="tab-content" id="tabContent">
                        <div class="tab-pane admin-img text-center fade" id="home" role="tabpanel"
                            aria-labelledby="home-tab">
                            <img class="" src="https://www.ytock.com/assets/img/loyalty_settings.webp" width="526"
                                height="368" loading="lazy" alt="Loyalty Settings">
                        </div>
                        <div class="tab-pane admin-img text-center fade" id="profile" role="tabpanel"
                            aria-labelledby="profile-tab"><img class=""
                                src="https://www.ytock.com/assets/img/sms_settings.webp" width="526" height="368"
                                loading="lazy" alt="SMS Settings"></div>
                        <div class="tab-pane admin-img text-center fade" id="messages" role="tabpanel"
                            aria-labelledby="messages-tab"><img class=""
                                src="https://www.ytock.com/assets/img/payment_settings.webp" width="526" height="403"
                                loading="lazy" alt="Payment Settings"></div>
                        <div class="tab-pane admin-img text-center fade active show" id="settings" role="tabpanel"
                            aria-labelledby="settings-tab"><img class=""
                                src="https://www.ytock.com/assets/img/social_media_settings.webp" width="526"
                                height="368" loading="lazy" alt="Social Media Settings"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Toggle-section-end -->

    <!-- Toggle-section-start  -->
    <section>
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="col-lg-5 mb-5 mb-lg-0 order-lg-2">
                    <h3 class="mb-3">Transform Your Restaurant Menu Delicious</h3>
                    <div class="nav flex-column nav-pills admin-tab" id="tab" role="tablist"
                        aria-orientation="vertical">
                        <div class="nav-link active mb-3" id="one-tab" data-bs-toggle="pill" data-bs-target="#one"
                            type="button" role="tab" aria-controls="one" aria-selected="true">
                            <div class="btn-tab">
                                <h4 class="lead">Loyalty Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="two-tab" data-bs-toggle="pill" data-bs-target="#two"
                            type="button" role="tab" aria-controls="two" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">SMS Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="three-tab" data-bs-toggle="pill" data-bs-target="#three"
                            type="button" role="tab" aria-controls="three" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">Payment Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                        <div class="nav-link mb-3" id="four-tab" data-bs-toggle="pill" data-bs-target="#four"
                            type="button" role="tab" aria-controls="four" aria-selected="false">
                            <div class="btn-tab">
                                <h4 class="lead mb-2">Social Media Settings</h4>
                            </div>
                            <div class="nav-content my-4">
                                <p>Admin can set minimum target points, active/deactivate loyalty rewards and coupon
                                    status. Fix the offer percentage for the menu with simple clicks</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="tab-content" id="tabContent">
                        <div class="tab-pane admin-img text-center fade" id="one" role="tabpanel"
                            aria-labelledby="one-tab">
                            <img class="" src="https://www.ytock.com/assets/img/loyalty_settings.webp" width="526"
                                height="368" loading="lazy" alt="Loyalty Settings">
                        </div>
                        <div class="tab-pane admin-img text-center fade" id="two" role="tabpanel"
                            aria-labelledby="two-tab"><img class=""
                                src="https://www.ytock.com/assets/img/sms_settings.webp" width="526" height="368"
                                loading="lazy" alt="SMS Settings"></div>
                        <div class="tab-pane admin-img text-center fade" id="three" role="tabpanel"
                            aria-labelledby="three-tab"><img class=""
                                src="https://www.ytock.com/assets/img/payment_settings.webp" width="526" height="403"
                                loading="lazy" alt="Payment Settings"></div>
                        <div class="tab-pane admin-img text-center fade active show" id="four" role="tabpanel"
                            aria-labelledby="four-tab"><img class=""
                                src="https://www.ytock.com/assets/img/social_media_settings.webp" width="526"
                                height="368" loading="lazy" alt="Social Media Settings"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Toggle-section-end -->

    <!-- Bottom-section-start -->
    <section>
        <div class="container text-center">
            <h2>Get connected with the new cloud-based food ordering <br>
                software for the restaurant.</h2>
            <p>More customers, More Orders, More revenue</p>
            <button class="btn btn-primary my-3">Start Free Trial</button>
            <div class="point-widget py-2">
                <div class="row justify-content-center">
                    <li class="col-auto">No credit card required</li>
                    <li class="col-auto">Free for 14 days</li>
                    <li class="col-auto">Easy setup</li>
                </div>
            </div>
        </div>
    </section>
    <!-- Bottom-section-end -->

{% endblock%}