{% extends 'baseapp/base.html' %}{% load static %}
{% block content %}

    <!-- banner-section-start -->
    <section class="pad-0">
        <div class="landing-banner-section home-banner  content-display">
            <div class="container banner-content">
                <h1 class="title"><small>ytock</small></h1>
                <h2 class="banner-header mb-2 text-light">Boost Your Restaurant Sales With Our
                    Online <br> Food Ordering System.</h2>
                <p>Grow your restaurant business with our online food ordering system meeting your demands in a single
                    platform.</p>
                <button class="btn btn-primary my-3">Start Free Trial</button>
                <div class="point-widget py-2">
                    <div class="row justify-content-center">
                        <li class="col-auto">No credit card required</li>
                        <li class="col-auto">Free for 14 days</li>
                        <li class="col-auto">Easy setup</li>
                    </div>
                </div>
            </div><!-- /container -->
        </div>
    </section>
    <!-- banner-section-end -->

    <!-- Overview-section-start -->
    <section>
        <div class="overview-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-1.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Zero Commission</h4>
                        <p>Own your online food ordering system to cut down the commission charges of third-party
                            aggregators on every order.</p>
                    </div><!-- /col -->

                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-2.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Boost Sales</h4>
                        <p>Empower your customers with hassle-free food ordering anywhere, making online payment that
                            lets you attain increased sales.</p>
                    </div><!-- /col -->

                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-3.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Customer Retention</h4>
                        <p>Retain your customers with loyalty points and advanced coupons, enabling them to place
                            repetitive orders.</p>
                    </div><!-- /col -->

                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-1.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Zero Commission</h4>
                        <p>Own your online food ordering system to cut down the commission charges of third-party
                            aggregators on every order.</p>
                    </div><!-- /col -->

                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-2.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Boost Sales</h4>
                        <p>Empower your customers with hassle-free food ordering anywhere, making online payment that
                            lets you attain increased sales.</p>
                    </div><!-- /col -->

                    <div class="col-lg-4 text-center">
                        <div class="icons m-auto mb-4">
                            <img src="{% static 'assets/img/icon-3.webp'%}" alt="">
                        </div>
                        <h4 class="mb-3">Customer Retention</h4>
                        <p>Retain your customers with loyalty points and advanced coupons, enabling them to place
                            repetitive orders.</p>
                    </div><!-- /col -->

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
    </section>
    <!-- Overview-section-end -->


    <!-- Extra-content-section-start  -->
    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-center text-center px-4">
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Order History</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Food Order Status</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Hassle-Free Order Allocation</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Extra-content-section-end -->

    <!-- screen-section-start  -->
    <section>
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 text-center px-4">
                    <div class="screen-img mb-4">
                        <img src="{% static 'assets/img/outlet_management.webp'%}" alt="">
                    </div>
                    <h3 class="mb-4">Outlet Management</h3>
                    <p>Acquire more orders instantly through mobile phones with your branded online food ordering
                        system. Manage your menus with zero third-party aggregators. Control and modify order status
                        (pending, accepted/rejected, delivered) notification upon the user request. Decreased delivery
                        time with enriched order status reports. Now your kitchen is under your control with Ytock.</p>
                </div><!-- /col -->

                <div class="col-lg-5 text-center px-4">
                    <div class="screen-img mb-4">
                        <img src="{% static 'assets/img/restaurant_owners_dashboard.webp'%}" alt="">
                    </div>
                    <h3 class="mb-4">Restaurant Owners Dashboard</h3>
                    <p>Empower your restaurant business with Ytock that lets you manage multi-branch. A business page
                        crafted with advanced features enables branch owners to grab online customer orders. Customized
                        layout facilitates you to view branches, customers, and total turnover. Get the order date,
                        time, and delivery notification status that supports you in managing a multi-branch restaurant.
                    </p>
                    <span class="linktag"><a href="">Learn more</a></span>
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- screen-section-end  -->

    <!-- Extra-content-section-start  -->
    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-center text-center px-4">
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Order History</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Food Order Status</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <h4>Hassle-Free Order Allocation</h4>
                    <p>It offers a clear picture of the order delivered containing customer information such as name,
                        food item ordered, and location.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Extra-content-section-end -->

    <!-- Advantage-section-start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-auto text-center">
                    <h3 class="mb-5 mb-lg-0">Advantages of choosing Ytock</h3>
                </div><!-- /col -->

                <div class="col-lg-8">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">

                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4">
                                    <img src="{% static 'assets/img/icon-2.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4">
                                    <img src="{% static 'assets/img/icon-3.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4 ">
                                    <img src="{% static 'assets/img/icon-4.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                    </div><!-- /row -->
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- Advantage-section-end -->
    <!-- screen-section-start  -->
    <section class="bg-light">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 text-center px-4">
                    <div class="screen-img mb-4">
                        <img src="assets/img/outlet_management.webp" alt="">
                    </div>
                    <h3 class="mb-4">Outlet Management</h3>
                    <p>Acquire more orders instantly through mobile phones with your branded online food ordering
                        system. Manage your menus with zero third-party aggregators. Control and modify order status
                        (pending, accepted/rejected, delivered) notification upon the user request. Decreased delivery
                        time with enriched order status reports. Now your kitchen is under your control with Ytock.</p>
                </div><!-- /col -->

                <div class="col-lg-5 text-center px-4">
                    <div class="screen-img mb-4">
                        <img src="assets/img/restaurant_owners_dashboard.webp" alt="">
                    </div>
                    <h3 class="mb-4">Restaurant Owners Dashboard</h3>
                    <p>Empower your restaurant business with Ytock that lets you manage multi-branch. A business page
                        crafted with advanced features enables branch owners to grab online customer orders. Customized
                        layout facilitates you to view branches, customers, and total turnover. Get the order date,
                        time, and delivery notification status that supports you in managing a multi-branch restaurant.
                    </p>
                    <span class="linktag"><a href="">Learn more</a></span>
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- screen-section-end  -->

    <!-- Advantage-section-start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-auto text-center order-2">
                    <h3 class="mb-5 mb-lg-0">Advantages of choosing Ytock</h3>
                </div><!-- /col -->

                <div class="col-lg-8">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4">
                                    <img src="{% static 'assets/img/icon-1.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4">
                                    <img src="{% static 'assets/img/icon-2.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4">
                                    <img src="{% static 'assets/img/icon-3.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                        <div class="col-md-6 col-lg-6">
                            <div class="card advantage">
                                <div class="icons m-auto mb-4 ">
                                    <img src="{% static 'assets/img/icon-4.webp'%}" alt="">
                                </div>
                                <h5 class="mb-4">24x7 Customer Support</h5>
                                <p>Our experienced team work round the clock in sorting out the queries and issues
                                    raised by the restaurant owners by comprehending their business requirements.</p>
                            </div>
                        </div><!-- /col -->

                    </div><!-- /row -->
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- Advantage-section-end -->

    <!-- Bottom-section-start -->
    <section>
        <div class="container text-center">
            <h2>Get connected with the new cloud-based food ordering <br>
                software for the restaurant.</h2>
            <p>More customers, More Orders, More revenue</p>
            <button class="btn btn-primary my-3">Start Free Trial</button>
            <div class="point-widget py-2">
                <div class="row justify-content-center">
                    <li class="col-auto">No credit card required</li>
                    <li class="col-auto">Free for 14 days</li>
                    <li class="col-auto">Easy setup</li>
                </div>
            </div>
        </div>
    </section>
    <!-- Bottom-section-end -->

{% endblock%}
