{% extends 'baseapp/base.html' %}
{% load static %} {% block content %}

<!-- banner-section-start -->
<section class="pad-0">
  <div class="landing-banner-section mobileapp-banner content-display">
    <div class="container banner-content">
      <h1 class="title"><small>ytock</small></h1>
      <h2 class="banner-header mb-2 text-light">
        Mobile App For Restaurant Ordering
      </h2>
      <p>
        Build your customized mobile app that aesthetically registers your brand
        name and logo with your customers
      </p>
      <button class="btn btn-primary my-3">Start Free Trial</button>
      <div class="point-widget py-2">
        <div class="row justify-content-center">
          <li class="col-auto">No credit card required</li>
          <li class="col-auto">Free for 14 days</li>
          <li class="col-auto">Easy setup</li>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
</section>
<!-- banner-section-end -->

<!-- Top-section-start -->
<section class="pt-60">
  <h3 class="text-center">
    Make your restaurant business profitable with <br />
    mobile food ordering software
  </h3>
</section>
<!-- Top-section-end -->

<!-- Info-section-start -->
<section>
  <div class="container">
    <div class="row justify-content-between col-rev">
      <div class="col-lg-5 px-4">
        <div class="info-content center-md">
          <h3 class="mb-4">Online Food Ordering System</h3>
          <p class="mb-4">
            Our online food ordering system facilitates you to design attractive
            menu items. You can create dynamic offers for existing and new
            customers. Retain your customers over the order placement with
            loyalty points. Interactive page design supports your ordering
            system compatibility in all devices. Get real-time live tracking of
            the order status notifications.
          </p>
          <button class="btn btn-primary">Start Free Trail</button>
          <span class="linktag ms-5"><a href="">Learn more</a></span>
        </div>
      </div>
      <!-- /col -->

      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="info-img text-center">
          <img
            src="{% static 'assets/img/online_food_ordering_system.webp'%}"
            alt=""
          />
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
<!-- Info-section-end -->

<!-- Info-section-start -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="info-img text-center">
          <img src="{% static 'assets/img/branded_mobile_app.webp'%}" alt="" />
        </div>
      </div>
      <!-- /col -->

      <div class="col-lg-5 px-4">
        <div class="info-content center-md">
          <h3 class="mb-4">Branded Mobile App</h3>
          <p class="mb-4">
            Explore unlimited features of the Ytock mobile app accessible in
            Android and iPhone for placing a food order. Now design your
            personalized branded mobile app to bring more customers to your
            business. Reach your customers through the cutting-edge platform
            integrated with advanced features like push notifications, coupons
            supporting you to grab the orders.
          </p>
          <span class="linktag"><a href="">Learn more</a></span>
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
<!-- Info-section-end -->

<!-- Info-section-start -->
<section>
  <div class="container">
    <div class="row justify-content-between col-rev">
      <div class="col-lg-5 px-4">
        <div class="info-content center-md">
          <h3 class="mb-4">Delivery App</h3>
          <p class="mb-4">
            Our food delivery app enables the customer to reach their favorite
            food at their doorstep. Automate your pickup and delivery schedule
            through the restaurant delivery app. Gather your orders with instant
            push notifications. Assign and track your delivery staff to deliver
            the order on time with the delivery app.
          </p>
          <button class="btn btn-primary">Start Free Trail</button>
          <span class="linktag ms-5"><a href="">Learn more</a></span>
        </div>
      </div>
      <!-- /col -->

      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="info-img text-center">
          <img src="{% static 'assets/img/delivery_app.webp'%}" alt="" />
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
<!-- Info-section-end -->

<!-- Overview-section-start -->
<section>
  <div class="overview-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center">
          <div class="img-overview mb-3">
            <img src="{% static 'assets/img/zero_commission.webp'%}" alt="" />
          </div>
          <h4 class="mb-3">Zero Commission</h4>
          <p>
            Own your online food ordering system to cut down the commission
            charges of third-party aggregators on every order.
          </p>
        </div>
        <!-- /col -->

        <div class="col-lg-4 text-center">
          <div class="img-overview mb-3">
            <img src="{% static 'assets/img/boost_sales.webp'%}" alt="" />
          </div>
          <h4 class="mb-3">Boost Sales</h4>
          <p>
            Empower your customers with hassle-free food ordering anywhere,
            making online payment that lets you attain increased sales.
          </p>
        </div>
        <!-- /col -->

        <div class="col-lg-4 text-center">
          <div class="img-overview mb-3">
            <img
              src="{% static 'assets/img/customer_retention_index.webp'%}"
              alt=""
            />
          </div>
          <h4 class="mb-3">Customer Retention</h4>
          <p>
            Retain your customers with loyalty points and advanced coupons,
            enabling them to place repetitive orders.
          </p>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</section>
<!-- Overview-section-end -->

<!-- Bottom-section-start -->
<section>
  <div class="container text-center">
    <h2>
      Get connected with the new cloud-based food ordering <br />
      software for the restaurant.
    </h2>
    <p>More customers, More Orders, More revenue</p>
    <button class="btn btn-primary my-3">Start Free Trial</button>
    <div class="point-widget py-2">
      <div class="row justify-content-center">
        <li class="col-auto">No credit card required</li>
        <li class="col-auto">Free for 14 days</li>
        <li class="col-auto">Easy setup</li>
      </div>
    </div>
  </div>
</section>
<!-- Bottom-section-end -->

{% endblock%}
