{% extends 'baseapp/base.html' %}{% load static %}
{% block content %}

    <!-- Header-section-start -->
    <section class="pt-60">
        <div class="container text-center">
            <h1>Double Up Your Restaurant Business Profits With An <br> Online Food Ordering System</h1>
            <p>Built your customized mobile app that asthetically registers your brand name and logo with your
                customers.</p>
            <button class="btn btn-primary my-3">Start Free Trial</button>
            <div class="point-widget py-2">
                <div class="row justify-content-center">
                    <li class="col-auto">No credit card required</li>
                    <li class="col-auto">Free for 14 days</li>
                    <li class="col-auto">Easy setup</li>
                </div>
            </div>
        </div>
    </section>
    <!-- Header-section-end -->

    <!-- Pricing-section-start -->
    <section>
        <div class="container">
            <div class="pricing-section text-center">
                <div class="switch-container mb-80">
                    <ul class="nav nav-pills switch-tab  mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Monthly</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Yearly</button>
                        </li>
                    </ul>
                    <p>Pay annualy to save <span class="badge bg-primary fs-6 align-middle"> 20% </span>
                    </p>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="pricing-card-section text-left">
                            <div class="row gy-5 gy-lg-0 justify-content-center">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="pricing-card">
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="pricing-card text-center">
                                        <div class="special shadow-sm">
                                            Highly Preferred
                                        </div>
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-4">
                                    <div class="pricing-card text-center">
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="pricing-card-section">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="pricing-card text-center">
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="pricing-card text-center">
                                        <div class="special shadow-sm">
                                            Highly Preferred
                                        </div>
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="pricing-card text-center">
                                        <div class="head mb-4">
                                            <h4 class="mb-5">Starter</h4>
                                            <h2 class="price"><sup>$</sup>24<sub>/mo</sub></h2>
                                            <p>(Billed Annually) </p>
                                        </div>
                                        <button class="btn btn-primary my-3">Start Free Trial</button>
                                    </div>
                                    <div class="pricing-content">
                                        <ul class="unstyled-list">
                                            <li>Step up to the new restaurant business platform</li>
                                            <li class="list-content">
                                                <div class="ms-4">
                                                    60 orders per month
                                                </div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4">30 Days Subscription</div>
                                            </li>
                                            <li class="list-content">
                                                <div class="ms-4"> YTock brand Marketing</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Pricing-section-end -->
{% endblock%}